@page
@model DOAN.Pages.HangHetHanModel
@using ENTITIES

<h4>Hàng Hết Hạn</h4>
<br>
<a href="index"><button type="button">Index</button></a>
<br>
<br>
<table>
    <tr>
        <td>Mã Hàng</td>
        <td>Tên Hàng</td>
        <td>Hạn dùng</td>
        <td>Công Ty Sản Xuất</td>
        <td>Ngày Sản Xuất</td>
        <td>Đơn Giá</td>
        <td>Loại Hàng</td>
        <td>Số lượng tồn</td>
    </tr>
    @foreach (MatHang mh in Model.dsMatHang)
    {
<tr>
    <td>@mh.maHang</td>
    <td>@mh.tenHang</td>
    <td>@mh.hanDung.Ngay/@mh.hanDung.Thang/@mh.hanDung.Nam</td>
    <td>@mh.congTySanXuat</td>
    <td>@mh.ngaySanXuat.Ngay/@mh.ngaySanXuat.Thang/@mh.ngaySanXuat.Nam</td>
    <td>@mh.donGia</td>
    <td>@mh.loaiHang</td>
    <td>@mh.ton</td>
</tr>}
</table>